# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = lowercasenumbers
	email = lowercasenumbers@lowercasenumbers.xyz
[init]
	defaultBranch = main
[core]
	editor = nvim
